[submodule "docs2017/tools/marked-it-cli"]
	path = docs2017/tools/marked-it-cli
	url = git@github.ibm.com:Grant-Gayed/marked-it-cli.git
[submodule "docs2017/tools/marked-it"]
	path = docs2017/tools/marked-it
	url = git@github.ibm.com:Grant-Gayed/marked-it.git
